# **add values to list**

append(), extend(), insert() 함수를 사용하여 list에 value를 추가.

**append()**

* list.append(x) 형태로 사용하며, O(1)의 시간복잡도를 갖음.
* 괄호 안에 값을 입력하면 새로운 요소를 list 맨 끝에 추가. 요소를 추가할 때는 객체로 추가하게 되는데, 입력한 값이 리스트와 같은 반복 가능한 iterable 자료형이더라도 객체로 저장.

In [1]:
nums = [1, 2, 3]
nums.append(4)
print(nums) # [1, 2, 3, 4]

nums.append([5, 6])
print(nums) # [1, 2, 3, 4, [5, 6]]

[1, 2, 3, 4]
[1, 2, 3, 4, [5, 6]]

**extend()**

* list.extend(iterable) 형태로 사용하며, $O(N)$ 시간복잡도를 갖음.
* 입력한 iterable 자료형의 항목 각각을 list의 끝에 하나씩 추가. iterable 자료형으로 추가되는 것이 아니라 iterable 자료형 안에 있는 항목이 하나씩 떼어져서 추가된다. append와 동일하게 요소를 list의 끝에 추가하지만 append와 다른 점은 괄호 안에는 iterable 자료형만 올 수 있음.
* iterable 자료형이 아닌 경우 TypeError가 발생한다.

In [2]:
nums = [1, 2, 3]
nums.extend([4])
print(nums) # [1, 2, 3, 4]

nums.extend([5, 6])
print(nums) # [1, 2, 3, 4, 5, 6]

[1, 2, 3, 4]
[1, 2, 3, 4, 5, 6]

**insert()**

* list.insert(i, x) 형태로 사용하며, O(N) 시간복잡도를 갖음.
* list의 원하는 위치 i 앞에 추가할 값 x를 삽입할 수 있다. i는 위치를 나타내는 인덱스를 숫자를 입력한다. 음수를 입력하면 배열의 끝을 기준으로 처리된다. 추가할 값 x는 객체로 추가되며 iterable 자료형이더라도 객체로 저장된다.

In [3]:
nums = [1, 2, 3]
nums.insert(0, 10)
print(nums) # [10, 1, 2, 3]

nums.insert(-1, 99)
print(nums) # [10, 1, 2, 99, 3]

nums.insert(len(nums), [20, 30])
print(nums) # [10, 1, 2, 99, 3, [20, 30]]

[10, 1, 2, 3]
[10, 1, 2, 99, 3]
[10, 1, 2, 99, 3, [20, 30]]

**+ 연산자**

list_1 + list_2 형태로 사용하며, $O(1)$ 시간복잡도를 갖는다.

In [4]:
nums = [1, 2, 4, 6, 1, 5]
print(nums + [10, 9, 8, 7]) # [1, 2, 4, 6, 1, 5, 10, 9, 8, 7]

[1, 2, 4, 6, 1, 5, 10, 9, 8, 7]

# **remove values to list**

remove(), pop() 함수를 사용하여 list에 value를 삭제할 수 있다.

**remove()**

remove()는 지우고자 하는 인덱스가 아닌, 값을 입력하는 방식이다. 만약 지우고자 하는 값이 리스트 내에 2개 이상이 있다면 순서상 가장 앞에 있는 값을 지우게 된다. 값을 삭제할 때 삭제된 값을 반환하지 않는다. remove()는 시간복잡도 $O(N)$를 갖는다.

In [5]:
example = [1, 2, 3, 4, 5, 1]
example.remove(1)
print(example)  # [2, 3, 4, 5, 1]

[2, 3, 4, 5, 1]

**pop()**

pop()은 리스트에서 지우고자 하는 값의 인덱스를 받아서 지우는 방식이다. 값을 삭제할 때 삭제된 값을 반환한다. 인덱스를 지정하지 않으면 리스트의 마지막 요소가 삭제되며 반환된다. pop()은 시간복잡도 $O(N)$를 갖는다.

In [6]:
example = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(example.pop())  # 10
print(example)  # [1, 2, 3, 4, 5, 6, 7, 8, 9]

example = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(example.pop(3)) # 4
print(example)  # [1, 2, 3, 5, 6, 7, 8, 9, 10]

10
[1, 2, 3, 4, 5, 6, 7, 8, 9]
4
[1, 2, 3, 5, 6, 7, 8, 9, 10]

**del**

del list[i] 형태로 사용하며, 시간복잡도 $O(N)$을 갖는다. 값을 삭제할 때 삭제된 값을 반환하지 않는다.

In [7]:
example = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
del example[7]
print(example)  # [1, 2, 3, 4, 5, 6, 7, 9, 10]

example = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
del example[7:]
print(example)  # [1, 2, 3, 4, 5, 6, 7]

[1, 2, 3, 4, 5, 6, 7, 9, 10]
[1, 2, 3, 4, 5, 6, 7]